{% embed '_layout/_form_trigger.html.twig' %}
    {% block show %}
        {{ include('resident/interest/show.html.twig') }}
    {% endblock %}

    {% block form %}
        {% import _self as formMacros %}

        {% macro printInterestForm(interestForm) %}
            <div>
                {{ form_errors(interestForm) }}
                {{ component('Form:RowText', {
                    row: interestForm.name,
                    label: 'name'
                }) }}
                {{ component('Form:RowText', {
                    row: interestForm.description,
                    label: 'description'
                }) }}
                <twig:Button:Secondary
                        data-action="click->interest#remove"
                        data-interest-target="remove">
                    Remove
                </twig:Button:Secondary>
                {#        <button #}
                {#                {{ stimulus_action('interest', 'remove', 'click') }} #}
                {#                {{ stimulus_target('interest', 'remove') }} #}
                {#                class="w-16 h-9 hover:cursor-pointer bg-red-900 text-white"> #}
                {#            remove #}
                {#        </button> #}
            </div>
        {% endmacro %}
        <div class="w-full">
            <div class="row js-interest-wrapper"
                    {{ stimulus_controller('interest') }}
                    {{ stimulus_target('interest', 'prototype') }}
                 data-prototype="{{ formMacros.printInterestForm(form.interests.vars.prototype)|e('html_attr') }}"
                 data-index="{{ form.interests|length }}"
            >
                {% for interestForm in form.interests %}
                    {{ formMacros.printInterestForm(interestForm) }}

                {% endfor %}
                {#    {{ form_widget(form.interests.vars.prototype) }} #}
                <twig:Button:Primary
                        data-action="click->interest#add"
                        data-interest-target="button"
                        class="my-3">
                    Add
                </twig:Button:Primary>
                {# <button
                {{ stimulus_action('interest', 'add', 'click') }}
                {{ stimulus_target('interest', 'button') }}
                class="hover:cursor-pointer bg-white">
            add
        </button> #}
                {#        <a href="#" {{ stimulus_action('interest', 'add', 'click') }}> #}
                {#            click #}
                {#        </a> #}
            </div>
            <twig:Button:Primary
                    type="submit"
                    class="mt-12">
                Update
            </twig:Button:Primary>

        </div>
    {% endblock %}
{% endembed %}
