<div{{ attributes.defaults({class: "w-full lg:w-3/4 m-auto"}) }}>
    <div class="grid md:grid-cols-3 gap-4 m-auto items-center">
        <div>
            <twig:Button:Primary href="{{ path('app_resident_index') }}"> Resident Selection</twig:Button:Primary>
        </div>
        <div>
            <select data-model="search_room"
                    id="search_room"
                    class=" bg-primary-light dark:bg-primary w-full  px-6 py-3 border-2 rounded-lg border-primary/70 text-black  ">
                <option value="">Rooms</option>
                {% for room in room.all %}
                    <option data-model="{{ room.id }}">{{ room.number }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-right">
            <twig:Button:Primary href="{{ path('app_resident_new') }}"> Add Resident</twig:Button:Primary>
        </div>
    </div>

    {% for room in this.getRooms %}

        {% if room.residents |length > 0 %}
            <div class="my-24 col-span-3">
                <twig:Title:H2> {% trans %} title.room.room {% endtrans %} {{ room.number }}</twig:Title:H2>
                <div class="mt-8  w-full grid lg:grid-cols-2 m-auto">
                    {% for resident in room.residents %}
                        <twig:Card:Headline :resident="resident"/>
                    {% endfor %}
                </div>
            </div>
        {% elseif search_room is not empty %}
            <div class="my-24 col-span-3">
                <twig:Title:H2>
                    {% trans %} text.room.room  {% endtrans %} {{ room }} {% trans %} text.room.empty{% endtrans %}
                </twig:Title:H2>
            </div>
        {% endif %}
    {% endfor %}
</div>
