<div{{ attributes.defaults({class: "w-full lg:w-3/4 m-auto"}) }}>
    <div class="grid md:grid-cols-3 gap-4 m-auto">
        <div>
            <twig:Button:Primary href="{{ path('app_resident_index') }}"> Resident Selection</twig:Button:Primary>
        </div>
        <div>
            <select data-model="search_room"
                    id="search_room"
                    class=" bg-primary-light dark:bg-primary w-full  px-6 py-3 border-2 rounded-lg border-primary/70 text-black  ">
                <option value="">Rooms</option>
                {% for room in room.all %}
                    <option data-model="{{ room.id }}">{{ room.number }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-right">
            <twig:Button:Primary href="{{ path('app_resident_new') }}"> Add Resident</twig:Button:Primary>
        </div>
    </div>

    <div class="col-span-3">
        {% if search_room is not empty %}
            <twig:Title:H2> Chambre {{ search_room }}</twig:Title:H2>
        {% endif %}

        <div class="my-8 w-full grid lg:grid-cols-2 m-auto">
            {% if this.getResidents is empty %}
                <span>This room is empty</span>
            {% else %}
                {% for resident in this.getResidents %}
                    <twig:Card:Headline :resident="resident"/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
