<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="w-screen overflow-x-hidden bg-white dark:bg-black text-black dark:text-white  ">
<div class="min-h-screen max-w-md lg:max-w-7xl m-auto p-3">
    <main class="min-h-screen xl:min-h-screen bg-white dark:bg-black py-3">
        <div class="p-4">
            <div class="w-full flex justify-between items-center mb-12">
                <div>
                    <twig:Title:H1>Sékie ?</twig:Title:H1>
                </div>
                <div>
                    {% if app.user%}
                        <a href="{{ path('app_logout') }}"> {% trans %}button.logout{% endtrans%} </a>
                    {% else %}
                        <a href="{{ path('app_login') }}"> {% trans %}button.login{% endtrans%} </a>
                    {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
<footer class="w-full bg-primary-light mt-16">
    <p>&copy; 2023 Roomate - Tous droits réservés.</p>
</footer>
</body>
</html>
