{% embed '_layout/_form_trigger.html.twig' %}
    {% block show %}
        {{ include('resident/characteristic/show.html.twig') }}
    {% endblock %}

    {% block form %}
        {% import _self as formMacros %}

        {% macro printCharacteristicForm(characteristicForm) %}
            <div>
                {{ form_errors(characteristicForm) }}
                {{ component('Form:RowText', {
                    row: characteristicForm.name,
                    label: 'name'
                }) }}
                {{ component('Form:RowText', {
                    row: characteristicForm.description,
                    label: 'description'
                }) }}
                {{ form_row(characteristicForm.contentType) }}
                {{ form_row(characteristicForm.priority) }}
                {{ form_row(characteristicForm.imageFile) }}
                <twig:Button:Secondary
                        data-action="click->characteristic#remove"
                        data-characteristic-target="remove">
                    Remove
                </twig:Button:Secondary>
            </div>
        {% endmacro %}

        <div class="w-full">
            <div class="row js-characteristic-wrapper 1"
                    {{ stimulus_controller('characteristic') }}
                    {{ stimulus_target('characteristic', 'prototype') }}
                 data-prototype="{{ formMacros.printcharacteristicForm(form.characteristics.vars.prototype)|e('html_attr') }}"
                 data-index="{{ form.characteristics|length }}"
            >

                {% for key, characteristicForms in form.characteristics |group_form %}
                    Key: {{ key }}
                    {% for characteristicForm in characteristicForms %}
                        <div>
                            {{ form_errors(characteristicForm) }}
                            {{ component('Form:RowText', {
                                row: characteristicForm.name,
                                label: 'name'
                            }) }}
                            {{ component('Form:RowText', {
                                row: characteristicForm.description,
                                label: 'description'
                            }) }}
                            {{ form_row(characteristicForm.contentType) }}
                            {{ form_row(characteristicForm.priority) }}
                            {{ form_row(characteristicForm.imageFile) }}
                            <twig:Button:Secondary
                                    data-action="click->characteristic#remove"
                                    data-characteristic-target="remove">
                                Remove
                            </twig:Button:Secondary>
                        </div>
                    {% endfor %}
                {% endfor %}
                {#
                {% set char = {
                    'interest': [],
                    "do": [],
                    "don't": [],
                    "other": []
                } %}
                {% for characteristicForm in form.characteristics %}
                    {% if characteristicForm.contentType.vars.value == 'interest' %}
                        {% set content_type = characteristicForm.contentType.vars.value %}
                #}{#                                        {{ dump(content_type) }} #}{#
                #}{#                                                                {{ dump(char) }} #}{#
                {% set char = char|merge({(characteristicForm.contentType.vars.value): char.interest|merge([characteristicForm])}) %}
                #}{#                        {% set char = char|merge({(content_type): char.interest|merge([characteristicForm])}) %} #}{#
                {% endif %}
                {% if characteristicForm.contentType.vars.value == 'do' %}
                    {% set content_type = characteristicForm.contentType.vars.value %}
                #}{#                                        {{ dump(content_type) }} #}{#
                #}{#                                                                {{ dump(char) }} #}{#
                {% set char = char|merge({(characteristicForm.contentType.vars.value): char.do|merge([characteristicForm])}) %}
                #}{#                        {% set char = char|merge({(content_type): char.interest|merge([characteristicForm])}) %} #}{#
                {% endif %}
            {% endfor %}
            {{ dump(char) }}
            {% for key in char|keys %}
                {% if char[key] is not empty %}
                    {{ key }}
                #}{#                        {% for characteristicForm in char[key] %} #}{#
                #}{#                            {{ formMacros.printcharacteristicForm(characteristicForm) }} #}{#
                #}{#                        {% endfor %} #}{#
                {% endif %}
            {% endfor %} #}
                <twig:Button:Primary
                        data-action="click->characteristic#add"
                        data-characteristic-target="button"
                        class="my-3">
                    Add
                </twig:Button:Primary>
            </div>
            <twig:Button:Primary
                    type="submit"
                    class="mt-12">
                Update
            </twig:Button:Primary>

        </div>
    {% endblock %}
{% endembed %}
