<div{{ attributes }}>
    <div class="w-full grid grid-cols-2 gap-4 m-auto">
        <div>
            <select data-model="search_room"
                    id="search_room"
                    class=" bg-primary-light dark:bg-primary w-full  px-6 py-3 border-2 rounded-lg border-primary/70 text-black  ">
                <option value="">Rooms</option>
                {% for room in room.all %}
                    <option data-model="{{ room.id }}">{{ room.number }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <a href="{{ path('app_resident_index') }}">
                <twig:Button:Primary>All Residents</twig:Button:Primary>
            </a>
        </div>
    </div>

    <div class="my-8">
        {% if search_room is not empty %}
            <twig:Title:H2> Chambre {{ search_room }}</twig:Title:H2>
        {% endif %}
        {% if this.getResidents is not empty %}
            {% for resident in this.getResidents %}
                <div class="my-8 py-8 space-y-8">
                    <twig:Card:Resident :resident='resident'/>
                    <twig:Card:Base :infos='resident.bases'/>
                    <div><a href="{{ path('app_resident', {'id' : resident.id}) }}">
                            <twig:Button:Primary>
                                PLus de details
                            </twig:Button:Primary>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="w-full aspect-square text-3xl text-black/20 dark:text-white/20 flex flex-col justify-center items-center">
                <span>Nothing</span>
                <a href="{{ path('app_resident_new') }}">
                    <twig:Button:Primary>Create new</twig:Button:Primary>
                </a>

            </div>
        {% endif %}
    </div>
</div>
