<div>
    {{ component('Form:ImageField', {label: 'Photo', row: form.imageFile}) }}
{#    {{ form_row(form.imageFile) }}#}
{#    {{ form_errors(form.imageFile) }}#}
</div>
<div class="w-full flex flex-col lg:flex-row my-8 lg:space-x-4 my-3">
    <div class="w-full lg:w-6/12 m-auto">
        {{ component('Form:RowText', {label: 'First name', row: form.firstName}) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowText', {label: 'Nationality', row: form.nationality}) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:Date', {row: form.birthDate}) }}
    </div>
</div>
<div class="w-full flex flex-col lg:flex-row my-8 lg:space-x-4 my-3">
    <div class="w-full lg:w-6/12 m-auto">
        {{ component('Form:RowSelect', {label: 'Referent', row: form.referent}) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowSelect', {label: 'Room', row: form.room}) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowText', {label: 'New Room', row: form.newRoom}) }}
    </div>
</div>
