<div>
    {{ component('Form:ImageField', {
        label: 'Photo',
        row: form.imageFile
    }) }}
</div>
<div class="w-full flex flex-col lg:flex-row my-12  space-y-12  lg:space-y-0 lg:space-x-6 ">
    <div class="w-full lg:w-6/12 m-auto">
        {{ component('Form:RowText', {
            label: 'form.firstname',
            row: form.firstName
        }) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowText', {
            label: 'form.nationality',
            row: form.nationality
        }) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:Date', {
            label: 'form.birthday',
            row: form.birthDate
        }) }}
    </div>
</div>
<div class="w-full flex flex-col lg:flex-row my-12  space-y-12  lg:space-y-0 lg:space-x-6 ">
    <div class="w-full lg:w-6/12 m-auto">
        {{ component('Form:RowSelect', {
            label: 'form.referent',
            row: form.referent
        }) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowSelect', {
            label: 'form.room',
            row: form.room}) }}
    </div>
    <div class="w-full lg:w-3/12 m-auto">
        {{ component('Form:RowText', {
            label: 'form.new_room',
            row: form.newRoom
        }) }}
    </div>
</div>
