{% extends 'base.html.twig' %}

{% block title %} {% trans %}title.resident.new{% endtrans %} {% endblock %}

{% block body %}
    <div class="border border-zinc-300 dark:border-stone-600 rounded-md p-5 pb-12">
        <twig:Title:H2>{% trans %}title.resident.new{% endtrans %}</twig:Title:H2>

        {{ form_start(form) }}

        {% if error %}
            <div class="bg-black/80 text-white dark:bg-white/80 dark:text-black p-2 my-2 text-semibold">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {{ include('common/resident/_form.html.twig') }}
        <div class="w-full  my-4 flex flex-col space-y-2 lg:flex-row lg:justify-start lg:space-y-0 lg:space-x-2 my-3">
            <twig:Button:Submit>
                {% trans %}button.save{% endtrans %}
            </twig:Button:Submit>
            {% if is_granted('ROLE_ADMIN') %}
                <twig:Button:Secondary href="{{ path('admin_resident_index') }}">
                    {% trans %}button.back{% endtrans %}
                </twig:Button:Secondary>
            {% else %}
                <twig:Button:Secondary href="{{ path('app_resident_index') }}">
                    {% trans %}button.back{% endtrans %}
                </twig:Button:Secondary>
            {% endif %}

        </div>

        {{ form_end(form, {'render_rest': false}) }}
        {#
        #}{#        Removed because in _form there is a trigger #}{#
        {{ include('resident/_form.html.twig') }} #}
    </div>
{% endblock %}
