{% extends 'base.html.twig' %}

{% block title %}Edit Resident{% endblock %}

 {% block body %}
     <h1>Edit Resident</h1>
     <div class="w-full overflow-hidden">
     <twig:ViewSwitcher>
         {% block left %}
             {{ component('Live:Resident:Show:Profile', {
                 path: "resident/show.html.twig",
                 initialResident: resident
             }) }}
         {% endblock %}
         {% block right %}
             {{ component('Live:Resident:Form:Profile', {
                 path: "common/resident/_form.html.twig",
                 TypeName: "ResidentType",
                 initialResidentForm: resident,
                 action: "Update"
             } ) }}
         {% endblock %}
     </twig:ViewSwitcher>

     <twig:ViewSwitcher>
         {% block left %}
             {{ component('Live:Resident:Show:Profile', {
                 path: "resident/base/show.html.twig",
                 initialResident: resident
             }) }}
         {% endblock %}
         {% block right %}
             {{ component('Live:Resident:Form:Profile', {
                 path: "common/resident/base/_form.html.twig",
                 TypeName: "BasicType",
                 initialResidentForm: resident,
                 action: "Update"
             } ) }}
         {% endblock %}
     </twig:ViewSwitcher>

     <twig:ViewSwitcher>
         {% block left %}
             {{ component('Live:Resident:Show:Profile', {
                 path: "resident/characteristic/show.html.twig",
                 initialResident: resident
             }) }}
         {% endblock %}
         {% block right %}
             {{ component('Live:Resident:Form:Profile', {
                 path: "common/resident/characteristic/_form.html.twig",
                 TypeName: "CharacteristicType",
                 initialResidentForm: resident,
                 action: "Update"
             } ) }}
         {% endblock %}
     </twig:ViewSwitcher>

{#     <twig:ViewSwitcher>
         {% block left %}
             {{ component('Live:Resident:Show:Basic', { residentId: resident.id}) }}
         {% endblock %}
         {% block right %}
             {{ component('Live:Resident:Form:Basic', { residentId: resident.id, action: "Update"} ) }}
         {% endblock %}
     </twig:ViewSwitcher>#}
     {#                 {{ form_start(form) }}

                  {{ include('resident/_form.html.twig', {'button_label': 'Update'}) }}
                  {{ include('resident/base/_form.html.twig') }}
                  {{ include('resident/interest/_form.html.twig') }}
                  {{ include('resident/characteristic/_form.html.twig') }}

                  {{ form_end(form) }} #}

 {% endblock %}