{% extends 'base.html.twig' %}

{% block title %}Resident index{% endblock %}

{% block body %}
    <twig:Title:H1>Resident index</twig:Title:H1>
    <div class="w-full grid grid-cols-2 gap-4 m-auto">
        <div>
        </div>
        <div>
            <a href="{{ path('app_resident_new') }}">
                <twig:Button:Primary>Create new</twig:Button:Primary>
            </a>
        </div>
    </div>
    {% if residents is not empty %}
        <div class="w-full grid grid-cols-2 gap-4 mx-auto my-8 ">
            {% for resident in residents %}
                <div class="relative">
                    <div class=" text-left">
                        {% if resident.picture is not empty %}
                            <img src="{{ asset('images/resident/' ~ resident.picture) }}" alt=""/>
                        {% else %}
                            <img src="{{ asset('images/emojis/elon-musk.png') }}" alt=""/>
                        {% endif %}
                    </div>
                    <div class=" text-center">
                        <a href="{{ path('app_resident_show', {'id': resident.id}) }}">
                            <twig:Button:Secondary>
                                {{ resident.firstName }}
                            </twig:Button:Secondary>
                        </a>
                    </div>
                    <span class="absolute top-1 right-1 flex justify-center items-center w-8 aspect-square rounded-full font-black bg-black text-white dark:bg-white dark:text-black"> {{ resident.room }}</span>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endif %}


{% endblock %}
