<div class="w-full flex flex-col">
    <div class="w-full ">
        {% if resident.picture is not empty %}
            <img src="{{ asset('images/resident/'~resident.picture) }}" alt="" class="w-full"/>
        {% else %}
            <img src="{{ asset('images/emojis/elon-musk.png') }}" alt="" class="w-full"/>
        {% endif %}
    </div>
    <div class="w-full my-8">
        <ul class="text-xl">
            <li class="my-8 text-2xl">{{ resident.firstName }}</li>
            <li class="my-8 text-2xl">Room: {{ resident.room }}</li>
            <li class="my-8">Born: {{ resident.birthDate ? resident.birthDate|date('Y-m-d') : '' }}</li>
            <li class="my-8">Nationality: {{ resident.nationality }} </li>
        </ul>
    </div>
</div>