{#Resident card (for room picker#}
<section>
    <article class="w-full flex">
        <div class="w-1/3">
            {% if resident.picture is not empty %}
                <img src="{{ asset('images/resident/' ~ resident.picture) }}" alt="" class="w-full"/>
            {% else %}
                <img src="{{ asset('images/emojis/elon-musk.png') }}" alt="" class="w-full"/>
            {% endif %}
        </div>
        <div class="w-2/3">
            <ul class="">
                <li>{{ resident.firstName }}</li>
                <li class="font-black">{{ resident.room }}</li>
                <li>Born: {{ resident.birthDate ? resident.birthDate|date('Y-m-d') : '' }}</li>
                <li>Nationality: {{ resident.nationality }} </li>
            </ul>
        </div>
    </article>
</section>